# Copyright (c) 2016-2023 Martin Donath <martin.donath@squidfunk.com>

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to
# deal in the Software without restriction, including without limitation the
# rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
# sell copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.

# Project information
site_name: Crystaleum
site_url: https://github.com/mdsreq-fga-unb/2023.2-Crystaleum

# Repository
repo_name: mdsreq-fga-unb/2023.2-Crystaleum
repo_url: https://github.com/mdsreq-fga-unb/2023.2-Crystaleum

# Configuration
theme:
  name: material
  custom_dir: material/overrides
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo

# Plugins
plugins:
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true

# Hooks
hooks:
  - material/overrides/hooks/shortcodes.py
  - material/overrides/hooks/translations.py

# Additional configuration
extra:
  annotate:
    json: [.s2]
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/squidfunk
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/mdsreq-fga-unb/2023.2-Crystaleum/
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/mkdocs-material/
    - icon: fontawesome/brands/mastodon
      link: https://fosstodon.org/@squidfunk
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/squidfunk

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Page tree
nav:
  - Home: index.md
  - MoonWalkers: moonwalkers/nossa-historia.md
  - Visão Geral do Produto:
      - Problema: visao-geral-produto/problema.md
      - Declaração de Posição do Produto: visao-geral-produto/posicao-produto.md
      - Objetivos do Produto: visao-geral-produto/objetivos-e-tecnologias.md

  - Visão Geral do Projeto:
      - Organizacao do Projeto: visao-geral-projeto/organizacao-projeto.md
      - Planejamento Fases: visao-geral-projeto/planejamento-fases.md
      - Matriz de comunicação: visao-geral-projeto/matriz-comunicacao.md
      - Gerenciamento de riscos: visao-geral-projeto/gerenciamento-riscos.md
      - Critério-replanejamento: visao-geral-projeto/criterio-replanejamento.md

  - Slides Apresentações:
      - Apresentação da facção: slides-apresentacoes/apresentacao-1-faccao.md
      - Apresentação do produto, abordagem, ciclo de vida e processo: slides-apresentacoes/apresentacao-2-produto-abordagem.md
      - Apresentação do produto, abordagem, ciclo de vida e processo (Corrigida): slides-apresentacoes/apresentacao-3-produto-abordagem-corrigidos.md

  - Missão 1:
      - Fundamentos de Eng. Software: missao-1/fundamentos.md
      - Introdução a Engenharia de Requisitos (ER): missao-1/engenharia-requisitos.md
      - Processo de ER: missao-1/processo-er.md
      - Valores e Princípios da ER: missao-1/valores-e-principios.md
      - Tipos de Requisitos e Regras de Negócio: missao-1/regras-de-negocios.md
      - Entendendo Problema e Necessidades: missao-1/problemas-e-necessidades.md
      - Lições Aprendidas: missao-1/licoes-aprendidas.md
      - Vídeo de Apresentação: missao-1/video-apresentacao.md

  - Missão 2:
      - Atividades e Técnicas de ER: missao-2/atividades-e-tecnicas.md
      - Definição do Backlog do Produto: missao-2/backlog.md
      - SAFe e User Story: missao-2/safe-e-userstory.md
      - Definição de MVP: missao-2/mvp.md
      - Lições Aprendidas: missao-2/licoes-aprendidas.md
      - Vídeo de Apresentação: missao-2/video-apresentacao.md
